.MuiTableContainer-root.tableContainer {
  padding: 1rem 10rem 2rem 10rem;
  box-sizing: border-box;
}
.MuiTableCell-head.tableHeader {
  font-weight: 900;
  letter-spacing: 2px;
  text-align: center;
}
.MuiTableCell-root.MuiTableCell-body {
  text-align: center;
  letter-spacing: 2px;
}

.MuiButtonBase-root.MuiIconButton-root {
  color: #d0d1d2;
}
.editRow {
  background-color: #232323;
}
.MuiInputBase-input.MuiInput-input.Mui-disabled {
  -webkit-text-fill-color: unset;
  color: #ffffff;
}

.MuiInputBase-root.MuiInput-root.innerCell {
  font-size: 14px;
}
.userCell {
  width: 180px;
  text-align: center;
}
.tableHeader.header {
  position: relative;
  left: -70px;
}
